.error-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.error-logo img {
  height: auto;
  width: 256px;
}
.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}