<div nz-row class="error-pages">
  <div
    nz-col
    nzXs="24"
    nzSm="10"
    class="error-logo"
  >
    <img
      src="https://res.cloudinary.com/dlqybwhxh/image/upload/w_256,c_scale/v1577852838/njuu-black-trans_syifgj.png"
      alt="Waifu is Laifu"
    >
  </div>
  <div
    nz-col
    nzXs="24"
    nzSm="14"
    class="error-message"
  >
    <div nz-row class="row-column">
      <div nz-col>
        <h1 nz-title>404</h1>
        <h4 nz-title>Lost? How Pathetic</h4>
      </div>
      <div nz-col>
        <p>Back to <a routerLink="/">home</a></p>
      </div>
    </div>
  </div>
</div>
