@import (reference) "../../app.component.less";

.waifu-image {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    cursor: pointer;
    height: auto;
    width: 100%;
  }
}
.vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  .ant-modal {
    top: 0;
  }
}
.card-list {
  height: 100%;
  ::ng-deep .ant-card-body {
    @media @for-phone {
      padding: 4px;
    }
    @media @for-tablet-only {
      padding: 8px;
    }
    @media @for-desktop-up {
      padding: 16px;
    }
    @media @for-big-desktop-up {
      padding: 24px;
    }
  }
}
::ng-deep .ant-calendar-picker {
  width: 100%;
}
::ng-deep .vertical-modal {
  .vertical();
}
::ng-deep .detail-modal {
  .vertical();
  .ant-modal {
    top: 0;
  }
  .ant-modal-content {
    .ant-col.waifu-data {
      max-height: 60vh;
      overflow-y: auto;
      .ant-col {
        padding-left: 8px;
      }
    }
  }
}
::ng-deep .preview-modal {
  .vertical();
  .ant-modal {
    top: 0;
    max-width: 250px;
  }
  .ant-modal-content {
    .ant-modal-body {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.preview-image {
  height: auto;
  width: 100%;
  max-width: 200px;
}