<nz-page-header>
  <nz-page-header-title>Waifu List</nz-page-header-title>
  <nz-page-header-extra>
    <button nz-button nzType="primary" (click)="addModal()"><i nz-icon nzType="plus"></i> Add Waifu</button>
  </nz-page-header-extra>
</nz-page-header>
<div nz-row>
  <div nz-col nzXs="24" nzMd="12" *ngFor="let waifu of waifus; index as id">
    <nz-card
      class="card-list"
      [nzTitle]="waifu.name.split(' ')[0] | uppercase"
      [nzActions]="[actionEdit, actionDelete]"
      [nzExtra]="extraDetail"
    >
      <div nz-row>
        <div nz-col class="waifu-image" nzMd="24" nzLg="6" (click)="previewWaifu(id)">
          <img
            [src]="waifu.image"
            [alt]="waifu.name"
          >
        </div>
        <div nz-col style="padding-left: 8px;" nzMd="24" nzLg="18">
          <div nz-row>
            <div nz-col nzSm="24" nzMd="8" nzLg="4">
              <strong>Name</strong>
            </div>
            <div nz-col nzSm="24" nzMd="16" nzLg="20">
              <p style="margin: 0;" nz-paragraph nzEllipsis>{{ waifu.name }}</p>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzSm="24" nzMd="8" nzLg="4">
              <strong>Age</strong>
            </div>
            <div nz-col nzSm="24" nzMd="16" nzLg="20">
              <p style="margin: 0;" nz-paragraph nzEllipsis>{{ waifu.age || 'unknown' }}</p>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzSm="24" nzMd="8" nzLg="4">
              <strong>Birth</strong>
            </div>
            <div nz-col nzSm="24" nzMd="16" nzLg="20">
              <p style="margin: 0;" nz-paragraph nzEllipsis>{{ (waifu.birth | date) || 'unknown' }}</p>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzSm="24" nzMd="8" nzLg="4">
              <strong>Series</strong>
            </div>
            <div nz-col nzSm="24" nzMd="16" nzLg="20">
              <p style="margin: 0;" nz-paragraph nzEllipsis>{{ waifu.series }}</p>
            </div>
          </div>
        </div >
      </div>
    </nz-card>
    <ng-template #actionEdit>
      <a (click)="editModal(id)"><i nz-icon nzType="edit"></i> Edit</a>
    </ng-template>
    <ng-template #actionDelete>
      <a (click)="deleteModal(id, waifu.name)"><i nz-icon nzType="delete"></i> Delete</a>
    </ng-template>
    <ng-template #extraDetail>
      <a (click)="detailModal(id)"><i nz-icon nzType="info-circle"></i> Detail</a>
    </ng-template>
  </div>
</div>
<nz-modal
  nzWrapClassName="preview-modal"
  [(nzVisible)]="previewVisible"
  [nzTitle]="previewWaifuName | titlecase"
  (nzOnCancel)="closeModal()"
  [nzFooter]="null"
>
  <img class="preview-image" [src]="previewUrl" [alt]="previewWaifuName">
</nz-modal>
<nz-modal
  nzWrapClassName="vertical-modal"
  [nzTitle]="modalTitle()"
  [(nzVisible)]="actionVisible"
  (nzOnCancel)="closeModal()"
  (nzOnOk)="saveWaifu(waifu)"
>
  <div *ngIf="waifu">
    <div nz-row>
      <div nz-col nzSpan="24">
        <input nz-input placeholder="Waifu Name" [(ngModel)]="waifu.name">
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-date-picker [nzStyle]="{ width: '100%' }" nzPlaceHolder="Waifu Birth" [(ngModel)]="waifu.birth"></nz-date-picker>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <input nz-input placeholder="Waifu Age" [(ngModel)]="waifu.age">
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="8">
        <input nz-input placeholder="Waifu Bust" [(ngModel)]="waifu.bwh.bust">
      </div>
      <div nz-col nzSpan="8">
        <input nz-input placeholder="Waifu Waist" [(ngModel)]="waifu.bwh.waist">
      </div>
      <div nz-col nzSpan="8">
        <input nz-input placeholder="Waifu Hips" [(ngModel)]="waifu.bwh.hips">
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <input nz-input placeholder="Waifu Image" [(ngModel)]="waifu.image">
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <input nz-input placeholder="Waifu Series" [(ngModel)]="waifu.series">
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <input nz-input placeholder="Waifu Seiyuu" [(ngModel)]="waifu.seiyuu">
      </div>
    </div>
  </div>
</nz-modal>
<nz-modal
  nzWrapClassName="detail-modal"
  nzTitle="Waifu Detail"
  [(nzVisible)]="detailVisible"
  (nzOnCancel)="closeModal()"
  [nzFooter]="null"
>
  <div nz-row *ngIf="waifu">
    <div nz-col nzSpan="10">
      <img style="width: 100%; height: auto;" [src]="waifu.image" [alt]="waifu.name">
    </div>
    <div nz-col class="waifu-data" nzSpan="14">
      <div nz-row>
        <div nz-col nzSpan="8">
          <span nz-text><strong>Name</strong></span>
        </div>
        <div nz-col nzSpan="16">
          {{ waifu.name }}
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <span nz-text><strong>Age</strong></span>
        </div>
        <div nz-col nzSpan="16">
          {{ waifu.age || 'unknown' }}
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <span nz-text><strong>Birth</strong></span>
        </div>
        <div nz-col nzSpan="16">
          {{ (waifu.birth | date) || 'unknown' }}
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <span nz-text><strong>Three Size</strong></span>
        </div>
        <div nz-col nzSpan="16">
          {{ waifu.bwh.bust ? waifu.bwh.bust + '-' + waifu.bwh.waist + '-' + waifu.bwh.hips : 'unknown' }}
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <span nz-text><strong>Series</strong></span>
        </div>
        <div nz-col nzSpan="16">
          {{ waifu.series }}
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <span nz-text><strong>Seiyuu</strong></span>
        </div>
        <div nz-col nzSpan="16">
          {{ waifu.seiyuu }}
        </div>
      </div>
    </div >
  </div>
</nz-modal>
