<nz-card [nzCover]="coverTemplate">
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="userName" placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="remember">
          <span>Remember me</span>
        </label>
        <a class="login-form-forgot" class="login-form-forgot">Forgot password</a>
        <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
        Or
        <a routerLink="/register">register now!</a>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
<ng-template #coverTemplate>
  <img
    class="auth-logo"
    src="https://res.cloudinary.com/dlqybwhxh/image/upload/w_128,c_scale/v1577852838/njuu-black-trans_syifgj.png"
    alt="Waifu is Laifu"
  >
</ng-template>
