.auth-logo {
  height: auto;
  width: 128px;
}
::ng-deep .ant-card-cover {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form {
  max-width: 300px;
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
}