@form-width: 600px;
.auth-logo {
  height: auto;
  width: 128px;
}
::ng-deep .ant-card-cover {
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-card {
  max-width: @form-width;
}
.register-form {
  width: @form-width;
}
.register-area {
  margin-bottom: 8px;
}