<nz-layout class="app-layout">
  <nz-header>
    <div class="header-logo">
      <a target="_blank">
        <img src="https://res.cloudinary.com/dlqybwhxh/image/upload/w_32,c_scale/v1577852859/njuu-white-trans_rz8sxq.png" alt="logo">
        <h1>Angular Waifu</h1>
      </a>
    </div>
  </nz-header>
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    nzWidth="256px"
    nzBreakpoint="md"
    [nzTrigger]="siderTrigger"
    class="sidebar-menu"
  >
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter *ngFor="let item of menu">
            <a [routerLink]="item.path">{{ item.text }}</a>
          </li>
        </ul>
      </li>
    </ul>
    <ng-template #siderTrigger>
      <div [class]="isCollapsed ? 'ant-layout-sider-trigger center' : 'ant-layout-sider-trigger'">
        <span>
          <i
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
          <span *ngIf="!isCollapsed">Collapse</span>
        </span>
      </div>
    </ng-template>
  </nz-sider>
  <nz-layout class="child-layout">
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer [class]="isCollapsed ? 'collapsed' : ''">
      Project Waifu is Laifu &copy; {{ currentYear === 2019 ? '2019' : '2019 - ' + currentYear }}
    </nz-footer>
  </nz-layout>
</nz-layout>
