@top-bar: 64px;
@bottom-bar: 48px;
:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  max-height: 100vh;
  .child-layout {
    margin: @top-bar 0 @bottom-bar 0;
    max-height: 100%;
    overflow-y: auto;
  }
}

.header-logo {
  position: relative;
  height: @top-bar;
  padding-left: 24px;
  overflow: hidden;
  line-height: @top-bar;
  background: #002140;
  z-index: 20;
  transition: all .3s;
  img {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
  }
  h1 {
    display: inline-block;
    margin: 0 0 0 20px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    vertical-align: middle;
  }
}

.sidebar-menu {
  margin: @top-bar 0 @bottom-bar 0;
  max-height: 100vh;
  overflow-y: hidden;
}
.sidebar-menu:hover {
  overflow-y: auto;;
}

.ant-layout-sider-trigger {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: inherit;
  height: @bottom-bar;
  span {
    padding-left: 24px;
    transition: all .3s;
    span {
      padding-left: 8px;
    }
  }
}
.ant-layout-sider-trigger.center {
  .ant-layout-sider-trigger();
  justify-content: center;
  span {
    padding-left: 0;
  }
}

nz-header {
  position: fixed;
  top: 0;
  height: @top-bar;
  width: 100%;
  z-index: 90;
  background: #001529;
  padding: 0;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
}

nz-content {
  margin: 24px;
}

.inner-content {
  padding: 24px;
  background: #fff;
}

nz-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: @bottom-bar;
  position: fixed;
  bottom: 0;
  width: calc(~'100% - 256px');
  text-align: center;
}
nz-footer.collapsed {
  width: calc(~'100% - 80px');
}
