.logo {
  display: flex;
  position: relative;
  float: left;
  align-items: center;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all .3s;
  img {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
  }
  h1 {
    display: inline;
    margin: 0 0 0 20px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    vertical-align: middle;
  }
}

[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  padding: 0 50px;
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}