<nz-layout>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
      <p>Project Waifu is Laifu &copy; {{ currentYear === 2019 ? '2019' : '2019 - ' + currentYear }}</p>
    </div>
  </nz-content>
</nz-layout>
